.rel {
  position: relative;
}

.basic * {
  line-height: 1.5;
}

.basic h3 {
  font-size: 34px;
}
.basic h4 {
  font-size: 32px;
}
.basic h5 {
  font-size: 30px;
}
.basic h6 {
  font-size: 26px;
}

.basic li {
  padding-bottom: 0.35em;
}
.basic li li:first-child {
  padding-top: 0.35em;
}
.basic li:last-child {
  padding-bottom: 0;
}

.wide.break h1 {
  height: 82px;
  line-height: 1em;
}
.break h2 {
  height: 96px;
}

.wide.titles h1 {
  font-size: 84px;
}
.wide.titles h2 {
  font-size: 62px;
}
.wide h3 {
  font-size: 30px;
}
.wide h4 {
  font-size: 28px;
}
.wide h5 {
  font-size: 26px;
}
.wide h6 {
  font-size: 24px;
}

.fsize14, .fsize14 * {
  font-size: 14px !important;
}
.fsize16, .fsize16 * {
  font-size: 16px !important;
}
.fsize18, .fsize18 * {
  font-size: 18px !important;
}
.fsize20, .fsize20 * {
  font-size: 20px !important;
}
.fsize22, .fsize22 * {
  font-size: 22px !important;
}
.fsize24, .fsize24 * {
  font-size: 24px !important;
}
.fsize28, .fsize28 * {
  font-size: 28px !important;
}
.fsize32, .fsize32 * {
  font-size: 32px !important;
}
.fsize36, .fsize36 * {
  font-size: 36px !important;
}
.fsize40, .fsize40 * {
  font-size: 40px !important;
}
.fsize60, .fsize60 * {
  font-size: 60px !important;
}
.fsize240, .fsize240 * {
  font-size: 240px !important;
}

.UL {
	text-decoration: underline;
	font-style: italic;
}

.sections h1 {
  border: none;
  font-size: 48px;
}

.remark-slide-content {
	font-size: 24px;
}
.remark-code-copy {
	font-size: 14px !important;
}
.remark-code-hilite, .remark-code-errlite {
  margin-left: -5px;
  padding-left: 5px;
  margin-right: -5px;
  padding-right: 5px;
  border-radius: 2px;
}
span.widelite, span.widelite {
  margin-top: -5px;
  padding-top: 5px;
  margin-bottom: -5px;
  padding-bottom: 5px;
  border-radius: 3px;
}

.topsub.subsections {
	margin: 5px 0 0 0;
	height: 35px;
	display: flex;
  align-items: center;
}
.topsub.subsections h3 {
	display: flex;
  align-items: center;
}
.topsub h3::before {
	content: "|";
	padding-right: 3px;
}
a.remark-section.current {
	font-size: 30px;
}
span.sec-num {
	font-size: 12px !important;
}

.topsub h3 {
  margin-right: 5px;
}
.topsub h3:first-of-type::before {
  content: ""
}
.topsub h3::before {
  content: " | ";
	color: var(--nbkclr) !important;
}
.topsub h4:last-of-type {
  margin-right: 5px;
}

.remark-quizzes-mrq-lc {
	width: calc(95%) !important;
}

.X {
  font-weight: 400;
  color: var(--dblclr);
}
.R {
  font-weight: 400;
  color: var(--drdclr);
}
.U {
  text-decoration: underline;
  font-weight: 400;
  font-style: italic;
}

.subsections {
  margin: 35px 20px 0 0;
  height: 535px;
}
.subsections h3 {
  font-size: 12px;
}
.subsections h4 {
  font-size: 10px;
  padding-left: 5px;
}

.oldsection h3 {
  margin-top: 0px;
}

.footnote {
  left: 5px;
  font-size: 18px !important;
}
.backlink {
  float: right;
}

.cards .card {
  padding: 5px 10px;
  margin-bottom: 20px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
}
.cards .card:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.cards .content, .cards .addendum {
	padding: 5px;
}
.cards .content p, .cards .content li {
  font-size: 24px;
}
.cards .addendum p, .cards .addendum li {
  font-size: 20px;
}
.wide .content p, .wide .content li {
  font-size: 20px;
}
.cards .content {
  margin: 0px -10px -10px -10px;
  padding: 10px 10px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
}
.card pre {
  margin-bottom: 0px;
}
.card.notes, .card.notes .content {
  background-color: var(--wylclr);
}
.card.warns, .card.warns .content {
  background-color: var(--wrdclr);
}

.remark-skip {
  font-size: 18px;
}
.remark-code {
  font-size: 18px;
}
.remark-skip {
  line-height: 1.5;
}

.wide .remark-code {
  font-size: 18px;
}

.code-t pre, .code-t .hljs {
  padding-bottom: 0;
  margin-bottom: 0;
}
.code-m pre, .code-m .hljs {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.code-b pre, .code-b .hljs {
  padding-top: 0;
}

.hljs-num .hljs {
  overflow-x: hidden;
  background: rgba(255,255,255,0);
}
.hljs-num .hljs-number {
  color: rgb(0,0,0);
}

.mrq, .entry-mrq {
  bottom: -50px !important;
  width: calc(100% - 20px) !important;
}
.remark-quizzes-pre-qns,
.remark-quizzes-pre-cmt,
.remark-quizzes-mrq-lc,
.remark-quizzes-chc-btn {
  font-size: 20px !important;
}
.remark-quizzes-chc-num {
  width: 12px !important;
}
.remark-quizzes-chc-btn {
  width: 16px !important;
}

.wide .remark-quizzes-pre-qns,
.wide .remark-quizzes-pre-cmt,
.wide .remark-quizzes-mrq-lc,
.wide .remark-quizzes-chc-btn {
  font-size: 18px !important;
}

.mrq-25 .remark-quizzes-chc-cmt, .mrq-25 .remark-quizzes-pre {
  width: 25% !important;
}
.mrq-50 .remark-quizzes-chc-cmt, .mrq-50 .remark-quizzes-pre {
  width: 50% !important;
}
.mrq-75 .remark-quizzes-chc-cmt, .mrq-75 .remark-quizzes-pre {
  width: 75% !important;
}

.remark-quizzes-mrq-lc {
  bottom: 80px !important;
}
/* .remark-quizzes-chc-cmt, .remark-quizzes-pre {
  display: none !important;
} */
.cmt-s .remark-quizzes-chc-cmt, .cmt-s .remark-quizzes-chc-qns {
  font-size: 12px !important;
}
.cmnt-s .remark-quizzes-chc-cmt {
  font-size: 12px !important;
}
.cmt-m .remark-quizzes-chc-cmt, .cmt-m .remark-quizzes-chc-qns {
  font-size: 14px !important;
}
.cmt25 .remark-quizzes-chc-cmt {
  width: 25% !important;
}
.cmt30 .remark-quizzes-chc-cmt {
  width: 30% !important;
}
.cmt35 .remark-quizzes-chc-cmt {
  width: 35% !important;
}

.remark-quizzes-timer-label {
	font-size: 42px !important;
}
.remark-quizzes-timer {
	width: 75px  !important;
	height: 60px !important;
}

.btn {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .2em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) .5em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.btn:active {
  border-color: #4a4a4a;
  outline: 0;
}
.btn:focus {
  border-color: #485fc7;
  outline: 0;
}
.btn:hover {
  border-color: #b5b5b5;
}
.btn:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

.lnk {
  font-weight: 400;
  font-style: italic;
  color: var(--dblclr);
  text-decoration: underline dashed;
  cursor: pointer;
}

.text-editor {
  border: 1px #363636 solid;
  padding: 0px 5px;
  margin: 5px;
}
.tight-editor {
  width: 100%;
}
.half-editor {
  width: 50%;
}
.editor16 {
  font-size: 16px;
}
.editor18 {
  font-size: 18px;
}
.editor20 {
  font-size: 20px;
}
.editor22 {
  font-size: 22px;
}
.editor24 {
  font-size: 24px;
}

.end span {
  font-size: 48px;
}
.end span.entry-comment {
  font-size: 32px;
}

.inline-frame { padding: 0; overflow: hidden; border: 0px;
  /* width: 134%;
  -ms-zoom: 0.75;
  -moz-transform: scale(0.75);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.75);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 0 0; */
}

.l05manual {
	bottom: 2.45% !important;
}

.ace_content, .ace_editor, .ace_editor div {
  font-family:monospace;
  letter-spacing: 0px;
}
kbd {
  position: relative;
  display: block;
  /* white-space: pre; */
  font-family: 'Mononoki';
	margin: 0 0 1em 0;
	padding: 0;
  text-align: justify;
}

.cursor-ball {
  width: 8px;
  height: 8px;
  background-color: rgba(255,16,16,0.7) !important;
  box-shadow: 0 0 8px 8px rgba(255,16,16,0.2);
}
.cursor-outline {
  width: 4rem !important;
  height: 4rem !important;
  transition: all 0.2s ease !important;
}
.cursor-hide {
  background-color: #00000000 !important;
}

.remark-code.text {
  background-color: #00000000 !important;
}
.remark-code.text * {
  color: black !important;
}

.hljs-note .hljs-comment {
  color: #999999;
}
.hljs-mid .remark-code-unhighlighted {
  opacity: 0.3;
}

@media print {
  .rvl, .rvl-tgl, .rvl-invisible, iframe {
    display: block !important;
  }
  .rvl-plus, .remark-quizzes-timer, .unrvl-tgl, .rvl-num, .unrvl.rvl-visible, .unrvl-step {
    display: none !important;
  }
}
.basic .SB {
	bottom: -0.3em;
  font-size: 0.6em;
	position: relative;
}
.basic .SP {
	top: -0.7em;
  font-size: 0.6em;
	position: relative;
}
.SP.L1, .SB.L1 {
  left: -0.4em;
}
.SP.L2, .SB.L2 {
  left: -0.8em;
}
.SP.L3, .SB.L3 {
  left: -1.2em;
}

.katex{
  font: 400 1em KaTeX_Main;
  line-height: 1;
}

.cmt25 .remark-quizzes-chc-cmt {
  width: 25% !important;
}
.cmt30 .remark-quizzes-chc-cmt {
  width: 30% !important;
}
.cmt35 .remark-quizzes-chc-cmt {
  width: 35% !important;
}
.basic.footer {
  bottom: 0;
}
.basic.footer p {
  text-align: center;
}

@media print {
  @import url(https://fontlibrary.org//face/mononoki);
  .remark-container {
    top: 0 !important;
  }
  .remark-slide-scaler {
    width: 640px !important;
    height: 720px !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
  .basic.footer p {
    z-index: -100;
    bottom: 30px !important;
  }
  .qr, #header, #footer, .cursor-ball, .cursor-outline {
    display: none;
  }
}